body {
    background-color: darkseagreen;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

nav > a {
    color:azure;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: crimson
}

h2 {
    text-align: center;
}
ul {
    list-style-position: inside;
}
main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
figure {
    text-align: center;
    font-style: italic;
}
img {
    width: 50%;
    height: 50%;
}