<nav>
            <a href="https://webpages.charlotte.edu/aamadi" target="_blank">Charlotte.edu</a>
            ||
            <a href="https://github.com/1addison-a" target="_blank">GitHub</a>
            ||
            <a href="https://github.com/1addison-a/1addison-a.github.io" target="_blank">GitHub.io</a>
            ||
            <a href="https://www.freecodecamp.org/addison-a" target="_blank">freeCodeCamp</a>
            ||
            <a href="https://www.codecademy.com/profiles/1Addisona" target="_blank">Codecademy</a>
            ||
            <a href="https://www.linkedin.com/in/addison-amadi-28b992336/" target="_blank">LinkedIn</a>
            ||
            <a href="stuff/my.Bad.Page.Nd.Stuff.HTML" target="_blank">My Bad Page</a>
            ||
            <a href="website_evaluations.html" target="_blank"> Website Evaluations</a>
            ||
            <a href="agileantelope/index.html" target="_blank">Agile Antelope Soccer Gear</a> 
</nav>  
    <p>Designed by <a href="amadidesigns.com">Amadi Designs.com</a> &copy;2025</p>